.App {
  text-align: center;
  text-transform: capitalize;
}
.sticky {
  position: fixed;
  top:0;
  width :100%;
}
ion-icon{
  color:white;
}
/* Dropdown Button */
.dropbtn {
  background-color: white;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  font-size: 15px;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #caf84b;}

.buffer{
height: 12rem;
}
.push {
  margin-left: auto;
}
.push-b {
  margin-right: auto;
}
.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.Breed-Box{
  display:flex;
  flex-wrap:wrap;
  color :white;
}
.picture {
  background:#282c34;
  width :350px;
  height:300px;
  margin:10px;
  transition:  all 1s;
}
.picture:hover{
  transform:scale(1.1);
}
li{list-style-type: none;}
a {text-decoration: none;
    color:white;
}
.footer{
  font-size: 15px;
}